.promo {
    margin-bottom: 63px;
}

.promo__content {
    display: flex;
    column-gap: 24px;
    padding: 68px 0 0 120px;

    border-radius: 60px;
    background-color: #F4F6F5;
}

.promo__title {
    max-width: 480px;
    margin-bottom: 40px;
    font-size: 96px;
    font-weight: 900;
    line-height: 120px;
}

.highlight {
    display: inline-block;
    position: relative;
}

.highlight span {
    position: relative;
}

.highlight::before {
    content: '';
    display: block;
    position: absolute;
    transform: rotate(-2deg);
    width: 464.743px;
    height: 112.14px;
    background-color: white;
}

.highlight--yellow::before {
    width: 495.785px;
    height: 117.55px;
    background-color: var(--yellow);
}

.promo__description {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -1.6px;
}

.promo__btn-wrapper {
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.promo__btn-wrapper::before {
    content: '';
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url(./../../img/icons/decor-yellow.svg);
}

.promo__btn-wrapper a {
    width: 221px;
    height: 82px;
    padding: 20px 40px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -1.5px;
}