.application__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  margin-bottom: 140px;
}

.application__title {
  max-width: 510px;
  font-size: 48px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 2.88px;
  margin-bottom: 50px;
}

.application__description {
  max-width: 420px;
  color: #7C7C7C;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.96px;
  margin-bottom: 65px;
}

.application__links {
  display: flex;
  column-gap: 20px
}

.google-play__link,
.app-store__link {
  transition: transform .2s ease-in-out;
}
.google-play__link:hover,
.app-store__link:hover {
  transform: scale(1.12);
}