.card {
  position: relative;
  cursor: pointer;
}

.card:hover .card__img {
  animation: opacity .5s ease-in-out;
}

.card:hover .card__icon {
  animation: slide .5s ease-in-out;
}

@keyframes opacity {

  0%,
  100% {
    opacity: 1;
    transform: scale(1)
  }

  50% {
    opacity: 0.8;
    transform: scale(0.98)
  }
}

@keyframes slide {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25px);
  }
}

.card__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__img {
  margin-bottom: 28px;
  border-radius: 20px;
}

.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.card__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.28px;
}

.card__hint {
  color: #7F7F7F;
  font-size: 24px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.96px;
}