.header {
    padding: 46px 0 56px;
    font-size: 22px;
}

.header__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header__logo span {
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.header__nav {
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;

}

.nav__items {
    display: flex;
    column-gap: 65px;
    align-items: center;
}

.nav__link {
    color: var(--textColor);
}

.nav__item {
    transition: transform .2s ease-in-out;
}

.nav__item:hover {
    transform: scale(1.12);
}

.nav__link--btn {
    background-color: black;
    
    color: white;
    padding: 15px 22px;
    font-size: 24px;
    letter-spacing: -0.72px;
    border-radius: 7px;
}

.nav__item--btn {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    white-space: nowrap;
    border: 1px black solid;
    border-radius: 8px;
}

.nav__item--btn button {
    background: #000;

    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    /* border: none; */
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;


}

.nav__item--btn button:hover {
    color: black;
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.nav__item--btn .mas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    font-size: 24px;
    letter-spacing: -0.72px;
    overflow: hidden;
}


@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}


@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}